
/* Navbar */
.top-menu {
    background-color:lightblue;
    padding: 20px 50px 20px 50px;
    user-select: none;
}

.top-menu > .left {
    float: left;
}

.top-menu > .left > * {
    margin-right: 55px;
}

.top-menu > .left > *, .top-menu > .right > * {
    padding: 11.4px;
    display: inline-block;
    text-align: center;
    min-width: 50px;
}

.top-menu *:hover{
    cursor: pointer;
}

.clear-fix {
    clear: both;
}

.top-menu .top-menu-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    
}

@media screen and (max-width: 800px) {
    .top-menu {
        padding: 40px 20px 20px 20px;
        max-height: 0;
        overflow: hidden;
    }

    .top-menu > .left, .top-menu > .right {
        display: none;
    }

    .top-menu-icon {
        display: block !important;
        
    }

    .logo{
        margin-top: -35px;
    }
}

@media screen and (max-width: 800px) {
    .top-menu.toggled {
        padding: 60px 0 0 0;
        max-height: 1500px;
        transition: max-height 1s;
    }

    .top-menu.toggled > .left {
        border-bottom: 1px solid black;
        margin: 15px 0 0 0 ;
    }

    .top-menu.toggled .logo{
        display: none;
    }

    .top-menu.toggled *:not(.top-menu-lead):not(.top-menu-icon):not(.logo) {
        float: none;
        display: block !important;
        text-align: left;
        margin: 0;
    }

}

/* Item */
.top-menu-item:hover {
    background-color: beige;
}



/* Lead  */
.top-menu-lead {
    padding: 10px;
    background-color: #000000;
    color: white;
    display: inline-block;
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    .top-menu-lead {
        position: absolute;
        top: 10px;
        left: 10px;
        float: none;
    }
}

/* Footer */

#footer {
    bottom: 0;
    width: 100%;
    position: relative;
    height: 100px;
    background-color: lightblue;
    z-index: 1000;
  }

  .footer-block {
    margin: 20px 0;
  }


